Mp3Lame/Mp3Lame.xcodeproj/xcuserdata
Mp3Lame/Mp3Lame.xcodeproj/project.xcworkspace/xcuserdata
Mp3Lame/Mp3Lame.xcodeproj/xcshareddata
Mp3Lame/Mp3Lame.xcodeproj/project.xcworkspace
Mp3Lame/Mp3Lame/libmp3lame.a
arm64
x86_64
output
